<!Doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="Width=device-width,initial-scale=1">
<title>login page</title>
<link rel="stylesheet" href='/static/home.css'/>
<style type="text/css">
h1{
text-align:center;
}
</style>
</head>
<body style="background-color: #8ff5bdb0">
  <header>
    <nav>
      <ul>
        <li><a href="/">LogOut</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/result">Upload</a></li>
      </ul>
    </nav>
  </header>
<h1>Welcome to the HomePage</h1>
{{pred}}
 <ul>
   <li><label><a href="/beauty">beauty</a></label></li>
   <li><label><a href="/removebg">remove_bg</a></label></li>
   <li><label><a href="/cartoon">cartoon</a></label></li>
   
 </ul>

</body>
</html>
